@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Sniglet&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial;
}

body {
  background-image: url("../Assets/images/background_login.jpg");
  background-size: cover;
  height: 100vh;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .loginBox {
  background: rgba(250, 250, 250, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .loginBox img {
  width: 100px;
  margin-bottom: 15px;
}
.login .loginBox h1,
.login .loginBox p {
  color: rgb(48, 45, 45);
}
.login .loginBox p {
  margin-bottom: 30px;
}
.login .loginBox input {
  width: 80%;
  height: 45px;
  border: none;
  border-radius: 8px;
  padding: 15px;
}
.login .loginBox input:focus {
  outline: 1px solid #ff2351;
}
.login .loginBox button {
  margin-top: 20px;
  width: 80%;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: #ff2351;
  color: #fafafa;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login .loginBox button:hover {
  background-color: #f9628a;
}

.order {
  display: flex;
}
.order .menu {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 10%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.order .menu input {
  display: none;
}
.order .menu input[type=radio]:checked + label {
  color: #cc950c;
}
.order .menu label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(85, 85, 85);
  cursor: pointer;
}
.order .food {
  display: flex;
  flex-direction: column;
  margin: 40px 40px;
  width: 60%;
}
.order .food .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.order .food .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
  height: 280px;
  width: 230px;
  overflow: hidden;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.order .food .cards .card:hover {
  box-shadow: 5px 5px 15px black;
}
.order .food .cards .card h1 {
  font-size: 20px;
  margin-bottom: 5px;
}
.order .food .cards .card p {
  font-size: 12px;
  margin-bottom: 20px;
  opacity: 0.5;
}
.order .food .cards .card p:last-of-type {
  bottom: 0;
  font-size: 20px;
  color: #fdc844;
  position: absolute;
  margin-bottom: 15px;
  opacity: 1;
}
.order .food .cards .card img {
  align-self: center;
  width: 100%;
  margin-bottom: 15px;
}
.order .cart {
  background-color: #fafafa;
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 40px;
}/*# sourceMappingURL=style.css.map */